
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="max-width: 1324px; display: block;">
        <div class="row">
            <div align="center" class="col-sm-3">
                <img src="../../assets/images/logo.png" alt="GECOM" width="128" height="100">
            </div>
            <div align="center"  class="col-sm-6">

                <h1> <a style="margin-top: 22px; color: white; font-size: 31px;" class="navbar-brand" href="#">Guyana Elections Commission</a></h1>
            </div>
            <div align="center"  class="col-sm-3">
                <img src="../../assets/images/logo.png" alt="GECOM" width="128" height="100">
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/elections-commission">Elections Commissions</a>
            </li>

            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Elections in Guyana</a>
                <div class="dropdown-content">
                    <a class="dropdown-item" href="/elections-in-guyana/overview">Overview</a>
                    <a class="dropdown-item" href="/elections-in-guyana/constitution-reform">Constitutional Reform</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="local-government">Local Government</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="national-registration">National Registration</a>
            </li>

            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nomination Forms</a>
                <div class="dropdown-content">
                    <a class="dropdown-item" target="_blank" href="http://www.gecom.org.gy/MEDIA%20RELEASES%20-%202011_files/Nomination%20Forms%20and%20Advisory%20for%20Political%20Parties/ADVISORY%20FOR%20POLITICAL%20PARTIES.pdf">Advisory for Political Parties</a>
                    <a class="dropdown-item" target="_blank" href="http://www.gecom.org.gy/MEDIA%20RELEASES%20-%202011_files/Nomination%20Forms%20and%20Advisory%20for%20Political%20Parties/Form%20for%20Application%20for%20Symbol.pdf">Form for Application for Symbol</a>
                    <a class="dropdown-item" target="_blank" href="http://www.gecom.org.gy/MEDIA%20RELEASES%20-%202011_files/Nomination%20Forms%20and%20Advisory%20for%20Political%20Parties/Form%20for%20Appointment%20of%20Election%20Agent.pdf">Form for Appointment of Election Agent</a>
                    <a class="dropdown-item" target="_blank" href="http://www.gecom.org.gy/MEDIA%20RELEASES%20-%202011_files/Nomination%20Forms%20and%20Advisory%20for%20Political%20Parties/Requirements%20on%20numbers%20of%20Candidates%20and%20Nominators.pdf">Requirements on numbers of Candidates and Nominators</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="contact-us">Contact US</a>
            </li>

            <li class="dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-content">
                    <a class="dropdown-item" href="reports-and-manuals">Reports and Manuals</a>
                    <a class="dropdown-item" href="media-releases">Media Releases</a>
                    <a class="dropdown-item" href="faq">FAQ</a>
                    <a class="dropdown-item" href="vacancies-and-notice">Vacancies/ Notice</a>
                    <a class="dropdown-item" href="maps-of-municipalities">Maps of Municipalities</a>
                    <a class="dropdown-item" href="links">Links</a>
                    <a class="dropdown-item" href="about-guyana">About Guyana</a>
                </div>
            </li>
        </ul>
    </div>

    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </form>
</nav>
<router-outlet></router-outlet>


<footer class="footer-distributed">

    <div class="footer-left">

        <h3>GECOM</h3>

        <p class="footer-links">
            <a href="home">About Us</a>
            ·
            <a href="about-guyana">About Guyana</a>
            ·
            <a href="reports-and-manuals">Reports And Manuals</a>
            ·
            <a href="faq">FAQ</a>
            ·
            <a href="contact-us">Contact</a>
        </p>

        <p class="footer-company-name">Guyana Elections Commission</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>GUYANA ELECTIONS COMMISSION<br />
                41, High &amp; Cowan Streets<br />
                Kingston,                      Georgetown<br />
                Guyana.<br />
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p><strong> Tel: </strong>&nbsp;(592) 225 0277/8<br />
                <strong> Hotlines:</strong> &nbsp;(592) 226 1651, 226 1652 &amp; 223 9650<br />
            </p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:gecomfeedback@webworksgy.com">gecomfeedback@webworksgy.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>© Copyright 2018 GECOM. All rights reserved.</span>
        </p>
    </div>

</footer>
